/* Fonts */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");

}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto"), local("Roboto-Medium"),
    url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto"), local("Roboto-Bold"),
    url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
}

  /* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-lightgray: #EEEEEE;
  --basic-gray: #888888;
  --basic-red: #FB565A;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;

  /* Link and button actions*/

  --special-more-red: #E74246;
  --special-dark-red: #D7373B;

  --special-gray: #A6A6A6;
  --special-more-gray: #666666;
  --special-dark-gray: #4D4D4D;
  --special-page-button-lightgray: #DFDFDF;
  --special-page-button-more-gray: #D5D5D5;
  --special-page-button-opacity: rgba(0, 0, 0, 0.0001);
  --special-page-button-shadow: #DBDBDB;
  
  --special-current-button-background: rgba(0, 0, 0, 0.0001);

  --special-more-green: #00BC6C;
  --special-dark-green: #00AA62;

  --special-more-yellow: #EAB534;
  --special-dark-yellow: #E5A722;

  --special-opacity-white: rgba(255, 255, 255, 0.3);



  /* Map */

  --basic-map-gray: #e9e5dc;

}

  /* Global */

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.page a {
  text-decoration: none;
}

.page img {
  max-width: 100%;
  height: auto;
}

.hidden {
  visibility: hidden;
  position: absolute;
}

/* Grid */

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Header */

.page-header {
  background-color: var(--basic-lightgray);
}

.page-header-logo:active img {
  opacity: 0.3;
}
 
/* Navigation */

.page-navigation-container {
  width: 1160px;
  margin: 0 auto;
}

.page-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: max-content 1fr min-content;
  margin-top: 49px;
}

.site-navigation {
  list-style: none;
  width: 437px;
  margin: 0;
  padding: 0;
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
}

.site-navigation,
.user-navigation {
  margin-top: 26px;
}

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
}

.site-navigation li {
  margin-right: 45px;
}

.site-navigation li:nth-child(4n+4) {
  margin-right: 0;
}

.user-navigation a {
  padding-left: 40px;
  position: relative;
}

.user-navigation a::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 0;
  top: 20px;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: var(--basic-red);
}

.site-navigation a:active,
.user-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.advantages-slider {
  position: relative;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

/* Advantages */

.advantages-container {
  background-color: var(--basic-lightgray);
  display: grid;
  margin-bottom: 80px;
}

/* Slider */


.slogan {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin: 75px 0 36px;
}

.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 530px;
}

.slider-list-item p:nth-child(2){
  margin-bottom: 27px;
}

.slider-list-item {
  position: relative;
}

.slider-list-item .button {
  font: inherit;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: none;
  padding: 17px 54px 15px;
  border-radius: 3px;
  margin-bottom: 80px;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider-control {
  position: absolute;
  bottom: 95px;
  width: 88px;
  left: 536px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  
}

.slider-control button {
  padding: 0;
  width: 18px;
  height: 18px;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: var(--basic-white);
  cursor: pointer;
  position: relative;
}

.slider-control .current::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: 5px;
  left: 5px;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px #C1C1C1;
}

.slider-list-item:nth-child(1)::after {
  content: "";
  position: absolute;
  width: 760px;
  height: 431px;
  top: -6px;
  left: 398px;
  background-image: url("../img/nerds-index-slide1-1.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
} 

.slider-list-item:nth-child(2)::after {
  content: "";
  position: absolute;
  width: 760px;
  height: 431px;
  top: -6px;
  left: 398px;
  background-image: url("../img/nerds-index-slide2-1.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.slider-list-item:nth-child(3)::after {
  content: "";
  position: absolute;
  width: 760px;
  height: 431px;
  top: -6px;
  left: 398px;
  background-image: url("../img/nerds-index-slide3-1.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.advantages-slider .button:hover {
  background-color: var(--special-more-red);
}

.advantages-slider .button:active {
  background-color: var(--special-dark-red);
  color: var(--special-opacity-white);
}

/* Features */
.features {
  text-align: left;
  margin: 0 auto 80px auto;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
}

.features-list-item {
  width: 300px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.features-list-item p {
  width: 260px;
  margin-bottom: 32px;
}

.features-list-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  position: relative;
  padding-top: 173px;
}

.features-list-item:first-child h3::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 146px;
  background-image: url("../img/illustration-1-1.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  top: 0;
  left: 0;
}

.features-list-item:nth-child(2) h3::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 146px;
  background-image: url("../img/illustration-2-1.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  top: 0;
  left: 0;
}

.features-list-item:last-child h3::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 146px;
  background-image: url("../img/illustration-3-1.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  top: 0;
  left: 0;
}

/* Features button */


.features-list-item .button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  border: none;
  margin: 0;
  display: flex;
  padding: 17px 40px 15px 39px;
  border-radius: 3px;
}


.features-list-item:first-child .button:link {
  background-color: var(--basic-red);
}

.features-list-item:first-child .button:hover {
  background-color: var(--special-more-red);
}

.features-list-item:first-child .button:active {
  background-color: var(--special-dark-red);
  color: var(--special-opacity-white);
}

.features-list-item:nth-child(2) .button:link {
  background-color: var(--basic-green);
}

.features-list-item:nth-child(2) .button:hover {
  background-color: var(--special-more-green);
}

.features-list-item:nth-child(2) .button:active {
  background-color: var(--special-dark-green);
  color: var(--special-opacity-white);
}

.features-list-item:last-child .button:link {
  background-color: var(--basic-yellow);
}

.features-list-item:last-child .button:hover {
  background-color: var(--special-more-yellow);
}

.features-list-item:last-child .button:active {
  background-color: var(--special-dark-yellow);
  color: var(--special-opacity-white);
}

.about-us {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 149px;
  padding-top: 39px;
  margin-bottom: 73px;
  border-top: 2px solid var(--basic-lightgray);
}

.about-us img {
  background-color: var(--basic-gray);
  margin-bottom: 37px;
}

.about-us-left-column p:first-child {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin: 39px 0 32px;
  padding: 0;
}

.about-us-left-column p:nth-child(2) {
  margin-bottom: 40px;
}

.about-us-left-column p:nth-child(3) {
  font-weight: bold;
  margin-bottom: 23px;
}

.about-us-right-column p {

  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  margin: 0 0 31px 0;
  margin-left: 19px;
}

.services-list {
  padding: 0;
  margin-bottom: 0;
}

.services-list li {
  list-style: none;
  padding: 0 0 0 38px;
  margin: 0 0 37px 0;
  position: relative;
}

.services-list li:last-child{
  margin: 0;
}

.services-list li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  left: 0;
  top: 10px;
  background-color: var(--basic-red);
  background-repeat: no-repeat;
  background-position: 0 0;
}


/* Table */

.features-table .data {
  font-size: 45px;
  line-height: 64px;
  font-weight: bold;
  padding-right: 22px;
  padding-bottom: 27px;

}

.features-table .percent {
  font-size: 26px;
  line-height: 40px;
  font-weight: bold;
  vertical-align: text-top;
}

.features-table .text {
  font-size: 16px;
  line-height: 18px;
}

/* Partner */
.partners {
  margin: 0 auto 80px auto;
}

.partner-logo-list {
  height: 180px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 290px 290px 290px 290px;
  align-items: center;
  border-top: 2px solid var(--basic-lightgray);
  border-bottom: 2px solid var(--basic-lightgray);
}

.logo-list-item {
  position: relative;
}

.logo-list-item:nth-child(1) a {
  margin-left: 32px;
}

.logo-list-item:nth-child(2) a{
  margin-left: 37px;
}

.logo-list-item:nth-child(3) a{
  margin-left: 60px;
}

.logo-list-item:nth-child(4) a{
  margin-left: 80px;
}
 
.logo-list-item:nth-child(1)::after {
  content: "";
  position: absolute;
  width: 52px;
  height: 2px;
  top: 25px;
  left: 257px;
  background-color: var(--basic-lightgray);
  transform: rotate(90deg);
}

.logo-list-item:nth-child(2)::after {
  content: "";
  position: absolute;
  width: 52px;
  height: 2px;
  top: 35px;
  left: 263px;
  background-color: var(--basic-lightgray);
  transform: rotate(90deg);
}

.logo-list-item:nth-child(3)::after {
  content: "";
  position: absolute;
  width: 52px;
  height: 2px;
  top: 17px;
  left: 279px;
  background-color: var(--basic-lightgray);
  transform: rotate(90deg);
}

.logo-list-item img {
  opacity: 0.2;
}

.logo-list-item .nohover:hover {
  opacity: 1.0;
}

.logo-list-item:active {
  opacity: 0.1;
}

/* Page-footer */

.page-footer {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

 /* Временная карта */
.footer-write-us {
  background-color: var(--basic-map-gray);
  background-image: url("../img/map-1.png");
  width: 1440px;
  height: 416px;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.contacts-container {
  width: 1160px;
  display: flex;
  margin: 0 auto;
}

.contacts {
  background-color: var(--basic-white);
  width: 319px;
  height: 308px;
  margin: 54px 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Временный маркер карты */

.contacts::after {
  content: "";
  position: absolute;
  width: 231px;
  height: 190px;
  left: 682px;
  top: 32px;
  background-image: url("../img/map-marker-1.png");
  background-repeat: no-repeat;
} 

.contacts p {
  margin: 0 0 0 50px;
}

.contacts p:first-child {
  margin-top: 49px;
  margin-bottom: 23px;
}

.contacts p:nth-child(2) {
  margin-bottom: 23px;
}

.contacts p:nth-child(3) {
  margin-bottom: 37px;
}

.footer-write-us p:first-of-type {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.footer-write-us p:nth-of-type(2),
.footer-write-us p:nth-of-type(3),
.telephone {
  font-size: 16px;
  line-height: 18px;
  color: var(--special-more-gray);
}

.footer-write-us .button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: none;
  margin: 0 auto;
  display: flex;
  padding: 17px 44px 15px;
  border-radius: 3px;
}

/* Social-link */

.footer-social-link {
  display: grid;
  grid-template-columns: 1fr 2fr;
}


.social-link-list {
  list-style: none;
  width: 261px;
  margin: 0;
  margin-top: 68px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.social-link-list li {
  margin-right: 9px;
  margin-bottom: 9px;
}

.social-link-list li:nth-child(3n+3) {
  margin-right: 0px;
}

.link-list-item .button {
  display: block;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  position: relative;
}

.link-list-item:first-child .button::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 15px;
  top: 32px;
  left: 27px;
  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.link-list-item:nth-child(2) .button::before{
  content: "";
  position: absolute;
  width: 12px;
  height: 22px;
  top: 30px;
  left: 34px;
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.link-list-item:last-child .button::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  top: 30px;
  left: 30px;
  background-image: url("../img/insta-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
}


.link-list-item .button {
  background: linear-gradient(0deg, #E1E1E1, #E1E1E1);
}

.link-list-item .button:hover {
  background: linear-gradient(0deg, #E74246, #E74246);
}

.link-list-item .button:active {
  background: linear-gradient(0deg, #D7373B, #D7373B);
}

.link-list-item .button:active::before {
  opacity: 0.3;
}

.footer-social-text {
  margin-top: 75px;
  margin-left: 140px;
}

.footer-social-link p:first-of-type {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  margin: 0;
}

.footer-social-link p:last-of-type {
  line-height: 18px;
}

/* Modal contact */

.modal-contact {
  background-color: var(--basic-white);
}

.modal-contact p {
  font-size: 45px;
  line-height: 53px;
  font-weight: bold;
}

/* Catalog page*/

.main-wrapper h1 {
  font-size: 55px;
  line-height: 55px;
  margin: 72px 0px 108px 0px;
  text-align: center;
}

.title-block {
  background-color: var(--basic-lightgray);
  display: grid;
}

/* Sorting products */

.list-sorting-products,
.list-sorting-arrows,
.list-view-products,
.list-page-button {
  list-style: none;
  margin: 0;
  padding: 0;
}


.products {
  display: grid;
  grid-template-columns: 260px 760px;
  column-gap: 140px;
}

.filter-products {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
}

.sorting-products {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  align-items: baseline;

}

.list-products {
  grid-column-start: 2;
  grid-column-end: 3;
}

.sorting-products ul {
  display: flex;
}

.sorting-products p {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 55px 266px 48px 0;
}

.list-sorting-products {
  margin-right: 47px;
}

.list-sorting-products li:not(:last-child) {
  margin-right: 25px;
}

.list-sorting-arrows li:not(:last-child) {
  margin-right: 18px;
}

.list-view-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list-view-products li {
  padding-top: 40px;
  margin-bottom: 30px;
  height: 578px;
  width: 358px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

/* .list-view-products img {
  display: none;
} */

.list-view-products li:nth-last-child(-n+2) {
  margin-bottom: 0;
}


.arrow-down,
.arrow-up {
  position: relative;
}

.arrow-down::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
  top: -11px; 
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;

}

.arrow-up::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
  top: -11px;
  left: 11px;
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
} 

.list-sorting-products a,
.list-sorting-arrows a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 0.3;
}

.list-sorting-products a:hover,
.list-sorting-arrows a:hover {
  opacity: 0.6;
}

.list-sorting-products a:active,
.list-sorting-arrows a:active {
  opacity: 1.0;
}

.list-sorting-products .here:link {
  opacity: 1.0;
}

.list-products-section {
  background-color: var(--basic-white);
}

.list-view-products img {
  background-color: var(--basic-gray);
}

.list-page-button {
  display: flex;
}

.list-page-button li {
 margin: 50px 11px 60px 0;
}

.page-button-item .button{
  display: block;
  padding: 17px 20px 15px 20px;
  border-radius: 3px;
}

.page-button-item:last-child .button {
  padding: 17px 77px 15px 78px;
}

.page-button-item.current-page .button {
  background-color: var(--special-current-button-background);
  box-shadow: inset 0 0 0 3px var(--special-page-button-shadow);
}


.list-page-button .button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-lightgray);
  border: none;
}

.list-page-button .button:hover {
  background-color: var(--special-page-button-lightgray);
}

.list-page-button .button:active {
  background-color: var(--special-page-button-more-gray);
  color: rgba(0, 0, 0, 0.3);
}

.list-page-button .button.here:link {
  background-color: rgba(0, 0, 0, 0.0001);
}
